@import "normalize.css";

body, html, #root {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/

.site {
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.site__main {
  width: 70%;
  padding-left: 170px;
}

.site__right-sidebar {
  position: fixed;
  right: 0; top: 0; bottom: 0;
  width: 30%;
  /*background: #C4CCDA;*/
  padding: 15px;
  padding-top: 0;

  background: linear-gradient(to top, rgba(192,207,221,0),rgba(192,207,221,1) 20%);
}

.site__right-sidebar-toggle {
  position: fixed;
  width: 20%;
  left: 0;
  bottom: 0;
  background: #2C3A51;
  padding: 15px 0;
  display: none;
}

.site__main {
  flex-direction: row;
}

.site__left-sidebar {
  position: fixed;
  left: 0; top: 0; bottom: 0;

  width: 170px;
  padding: 20px 15px;
}

.site__content {
  flex-grow: 1;
  flex-basis: 0;
}

.bg {
  position: fixed;
  height: 100%;
  width: 100%;
  /*top: 0; bottom: 0;*/
  /*left:0; right: 0;*/
}

.bg__img {
  position: absolute;
  bottom: 0;

  height: 40%;
  width: 100%;
  background-image:
    linear-gradient(rgba(247,248,250,1), rgba(247,248,250,0)),
    url("../img/bg.jpg")
    /*linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1))*/
    ;
  background-size: cover;
  background-position: center;
}


.products {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.product {
  width: 50%;
  margin-bottom: 20px;
  /*margin: 10px;*/
  padding: 10px;

  /*background: rgba(0,255,0,0.3);*/
}

.product__display {
  border: 5px solid #D8D8D8;
  padding: 10px;
  /*margin: 10px;*/

  align-items: center;

  background: #fff;
}

.product__control {
  min-height: 90px;
  justify-content: center;
}

.product__img-wrapper {
  min-height: 170px;
  justify-content: center;
  width: 100%;
}

.product__img {
  width: 100%;
}

.product__add {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: #D8D8D8;
  justify-content: center;
  margin: 15px;
}

.product__price {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  font-weight: 600;
}

.product__add:hover {
  background-color: #78A3CA;
}

.product__description {
  width: 100%;
  margin-top: 10px;

  flex-direction: row;
  align-items: center;

  /*background-color:  rgba(255,0,0,0.3);*/
}

.product__name {
  flex-grow: 1;
  flex-basis: 0;
}

.product__heart {
}


.cart {
  flex-grow: 1;
  flex-basis: 0;
}

.cart__content {

  flex-grow: 1;
  flex-basis: 0;
  /*height: 100%;*/
  /*overflow: scroll;*/
}

.cart__title {
  position: absolute;
  top: 0; left: 0; right: 0;
  padding: 15px 0;

  z-index: 20;

  background: linear-gradient(rgba(192,207,221,1),rgba(192,207,221,0.7));
}

.cart:after {
  content: "";
  position: absolute;
  bottom: 0; left: 0; right: 0;

  height: 40px;

  background: linear-gradient(rgba(197,207,221,0), rgba(192,207,221,1));
  z-index: 20;
}

.cart__title--spacer {
  position: relative;
  opacity: 0;
}

.cart-item {
  /*padding: 0 20px;*/
  margin-bottom: 15px;

  /*background: rgba(0,255,0,0.3);*/
  /*margin-bottom: 20px;*/
}

.cart-item__top-part {
  flex-direction: row;
  align-items: center;
}

.cart-item__top-part__middle {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 20px;
}

.cart-item__image {
  border: 2px solid #DADADA;
  width: 33%;
}

.cart-item__image img {
  width: 100%;
}

.cart-item__title {
  font-size: 18px;
}

.cart-item__price {
  font-weight: 600;
  font-size: 18px;
}

.cart-item__qty {
  width: 33%;
  align-items: center;
}

.cart-item__trash {
}

.adjust-qty {
  flex-direction: row;
  align-items: center;
}

.adjust-qty__button {
  background: #fff;
  height: 20px; width: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

.adjust-qty--gray .adjust-qty__button {
  background: #D8D8D8;
  color: #fff;
}

.checkout {
  /*background: rgba(0,0,255,0.3);*/
}

.checkout__button {
  flex-direction: row;

  /*border: 1px solid black;*/
  background-color: #6C9789;
  border-radius: 5px;
  font-size: 24px;
  /*padding: 20px 80px;*/
  margin: 0 50px;
  align-self: center;

  justify-content: flex-start;

  color: #fff;

}

.checkout__button__icon {
  padding: 20px 50px;
  padding-right: 0;
}

.checkout__button__label {
  padding: 20px 50px;
  padding-left: 20px;
  /*flex-grow: 1;*/
  /*align-items: center;*/
}

.checkout__divider {
  margin: 20px 0;
  border: 1px solid #979797;
  width: 60%;
  align-self: center;
}

.checkout__coupon-input {
  margin-bottom: 10px;
  font-size: 18px;
  padding: 5px;
}

.checkout__line {
  flex-direction: row;
  font-size: 24px;
  margin-bottom: 10px;
}

.checkout__line__amount {
  /*background: rgba(255,0,0,0.3);*/
  flex-grow: 1;
  text-align: right;
}

.checkout__line__amount--strikeout {
  text-decoration: line-through;
  /*text-decoration-color: #DC1A00;*/
}

.checkout__line__amount--omg-savings {
  color: #DC1A00;
  font-weight: 600;
}

.red {
  background: rgba(255,0,0,0.3);
}

.green {
  background: rgba(0,255,0,0.3);
}

@media (max-width: 950px) {
  .site__right-sidebar {
    width: 40%;
  }

  .site__main {
    width: 60%;
  }

  .product {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .site__right-sidebar {
    width: 80%;
    transform: translate(100%,0);
  }

  .site__left-sidebar {
    display: none;
  }

  .site__main {
    padding-left: 0;
    width: 100%;
  }

  body.js-show-right-sidebar .site__right-sidebar  {
    transform: translate(0,0);
  }

  .site__right-sidebar-toggle {
    display: flex;
    left: auto;
    right: 0;
  }

  body.js-show-right-sidebar .site__right-sidebar-toggle {
    right: auto;
    left: 0;
  }
}